Language:        Cpp
BasedOnStyle:    LLVM  # 或 Google、Mozilla、WebKit
SpaceAfterCStyleCast: true
SpacesInParentheses: true
SpacesInAngles: false
SpacesInContainerLiterals: true
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakConstructorInitializersBeforeComma: true
BreakBeforeBinaryOperators: NonAssignment
BinPackParameters: true
BinPackArguments: true
BinPackFunctions: true
ColumnLimit: 80